<form class="mb-4" id="mz-login-form">
    <div class="tk-formfield">
        <label for="email" class="is-hidden">E-mailadres</label>
        <div class="tk-input">
            <input class="tk-input__text tk-input__text--no-border" type="email" id="email"
                placeholder="E-mailadres" required />
        </div>
    </div>

    <div class="tk-formfield mb-1">
        <label for="password" class="is-hidden">Wachtwoord</label>
        <div class="tk-input">
            <input class="tk-input__text tk-input__text--no-border" type="password" id="password"
                placeholder="Wachtwoord" required />
            <div class="tk-input__toggle-password" id="js-toggle-password">
                <span>{% include icons/eye-crossed--small.svg %}</span>
                <span>{% include icons/eye--small.svg %}</span>
            </div>
        </div>
    </div>
    <a href="{{ page.recover.url }}" class="unlink tk-link-blue f14">{{ page.recover.text }}</a>
</form>