<form id="mz-login-form">
    <div class="tk-formfield">
        <label for="{{ page.input.id }}" class="is-hidden">E-mailadres</label>
        <div class="tk-input">
            <input class="tk-input__text tk-input__text--no-border" type="{{ page.input.type }}"
                id="{{ page.input.id }}" name="{{ page.input.id }}" placeholder="{{ page.input.placeholder }}"
                required />
        </div>
    </div>

    <div class="tk-formfield mb-1">
        <label for="password" class="is-hidden">Wachtwoord</label>
        <div class="tk-input">
            <input class="tk-input__text tk-input__text--no-border" type="password" id="password" name="password"
                placeholder="Wachtwoord" required />
            <label class="tk-input__toggle-password" id="js-toggle-password" for="password">
                <span>{% include icons/eye-crossed--small.svg %}</span>
                <span>{% include icons/eye--small.svg %}</span>
            </label>
        </div>
    </div>

    <div class="mb-4">
        <a href="{{ page.recover.url }}" class="unlink tk-link-blue f14">{{ page.recover.text }}</a>
    </div>

    {% include mz/cta.html
        buttonClass="js-login-submit"
        1st="Inloggen"
        2nd="Terug naar overzicht"
        url="/mijnnszakelijk"
    %}
</form>