<div class="zzp-service">
    <div class="zzp-service__tile-container mb-2 mb-8-sm js-scroll-magic">
        {% for entry in site.data.zzp.services.tiles %}
        <div class="js-zzp-st is-hidden">
            <div class="zzp-service__tile js-tr tr-stag tr-del-1500">
                <h3 class="mh-2 mv-2 fw-b fs-i f-blue f18 lh-solid">{{ entry.title }}</h3>
                <p class="f14 f-blue ph-2 pb-2">
                    {{ entry.description }}
                </p>
                <img src="{{ entry.img }}" alt="{{ entry.title }}" />
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="center js-scroll-magic">
        <nav class="zzp-service__nav js-tr tr-fi tr-500 js-zzp-st-navbar">
            {% for entry in site.data.zzp.services.tiles %}
            <div class="zzp-service__nav-item-container js-tr tr-stag">
                <div class="zzp-service__nav-item js-zzp-st-nav">
                    {{ entry.title }}
                </div>
            </div>
            {% endfor %}
        </nav>
    </div>
</div>