<div class="zzp-usp">
    <div class="zzp-usp__grid zzp-usp__grid--2 js-scroll-magic">
        <figure class="zzp-usp__img js-tr tr-fi-up tr-1500">
            <img src="/assets/img/{{ entry.img }}.svg" class="js-tr tr-si tr-si--large tr-1500" />
        </figure>
    </div>
    <div class="zzp-usp__grid-spacer"></div>
    <div class="zzp-usp__grid zzp-usp__grid--3">
        <div class="txt-c txt-l-sm js-scroll-magic">
            <h3 class="f24 f32-sm f-blue fw-b lh-title mb-3 js-tr tr-stag">
                {{ entry.title }}
            </h3>
            <p class="f18 f20-sm f-blue mb-2 js-tr tr-stag">
                {{ entry.description }}
            </p>
            <div class="js-tr tr-stag">
                <a class="unlink tk-link f18">Meer informatie</a>
            </div>
        </div>
    </div>
</div>