---
---

<section class="a a-fi-right-small">
    <div class="container ub-container">
        <h1 class="headingXL mb-2 mb-4-sm">Maak uw overeenkomst aan</h1>
        <hr class="mb-3">
        
        <fieldset class="formfield">
            <legend class="formfield__label">Factuurperiode</legend>
            <div class="formfield__inputContainer">
                <ul class="list formfield__inputGroup">
                    <li class="list__item formfield__inputGroupItem">
                        <div class="radioButton">
                            <input type="radio" class="radioButton__input" id="input1" name="periode" checked>
                            <label class="radioButton__label" for="input1" tabindex="-1">Maand</label>
                        </div>
                    </li>
                    <li class="list__item formfield__inputGroupItem">
                        <div class="radioButton">
                            <input type="radio" class="radioButton__input" id="input2" name="periode">
                            <label class="radioButton__label" for="input2" tabindex="-1">Jaar</label>
                        </div>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="toolTip formfield__toolTip" data-controller="generic/ui/ToolTip">
                    <span class="toolTip--hidden">
                        Als u kiest voor [Jaar], blijft u maandelijks een factuur ontvangen voor de reistransacties. U
                        betaalt dan alleen de abonnementskosten per jaar.
                    </span>
                </a>
                <div class="mt-2 f14 f-grey-4">
                    <p class="mb-2">
                        Let op: Uw keuze geldt voor al uw abonnementen. U kunt de betaling van de abonnementskosten
                        tussentijds in Mijn NS Zakelijk wijzigen via Bedrijfsgegevens.
                    </p>
                    <p>
                        Ongeacht uw keuze ontvangt u maandelijks een factuur voor uw reistransacties.
                    </p>
                </div>
            </div>
        </fieldset>

        <fieldset class="formfield">
            <legend class="formfield__label">Digitale incassomachtiging</legend>
            <div class="formfield__inputContainer pt-1">
                {% include ub/selector.html %}
            </div>
        </fieldset>

        <fieldset class="formfield mb-2 js-pay-now">
            <legend class="formfield__label"></legend>
            <div class="formfield__inputContainer">
                <div class="checkbox formfield__checkbox tk-formfield__checkbox">
                    <input required type="checkbox" class="checkbox__input" id="checkbox1" name="checkbox1">
                    <label class="checkbox__label" for="checkbox1" tabindex="-1">Ik geef toestemming voor:</label>
                </div>
                <p class="pl-4 pt-1 f12">
                    Het automatisch incasseren van de NS-Business Cardfacturen door NS Groep
                    N.V. inzake NS Reizigers B.V. en toestemming aan de bank om doorlopend een bedrag van mijn rekening
                    af te schrijven overeenkomstig met de opdracht van NS Groep N.V. inzake NS Reizigers B.V. De
                    gegevens van de incassant zijn: Creditor ID: NL03 ZZZ 30124358 0000. Naam: NS Groep iz NS Reizigers.
                    Adres: Laan van Puntenburg 100 3511 ER Utrecht te Nederland. Als u het niet eens bent met deze
                    afschrijving kunt u deze laten terugboeken. Neem hiervoor binnen 8 weken na afschrijving contact op
                    met uw bank. Vraag uw bank naar de voorwaarden.
                </p>
            </div>
        </fieldset>

        <fieldset class="formfield">
            <legend class="formfield__label"></legend>
            <div class="formfield__inputContainer">
                <div class="checkbox formfield__checkbox tk-formfield__checkbox">
                    <input required type="checkbox" class="checkbox__input" id="checkbox2" name="checkbox2">
                    <label class="checkbox__label" for="checkbox2" tabindex="-1">Ik ga akkoord met:</label>
                </div>
                <ul class="pl-4 pt-1 mb-0 f12 lh-copy">
                    <li>NS-Business Card <a class="tk-link">overeenkomst</a></li>
                    <li><a class="tk-link">Productvoorwaarden</a> NS-Business Card</li>
                    <li><a class="tk-link">Algemene voorwaarden</a> voor het vervoer van Reizigers en Handbagage van de
                        Nederlandse Spoorwegen (AVR-NS)</li>
                    <li><a class="tk-link">Productvoorwaarden</a> OV-fiets</li>
                </ul>
            </div>
        </fieldset>

        {% include ub/cta.html 
        back="true"
        url="/uitgestelde-betaling/bedankt" 
        button="Voorlopig afronden"
        class="button--arrowRight" %}
    </div>
</section>