---
layout: default
title: Aanvragen Mijn NS Zakelijk
cta:
    text: Versturen
    url: /mijnnszakelijk
---

{% capture cta-url %} {{ page.cta.url }} {% endcapture %}

<section class="mz gd-r-yellow-subtle js-vce">
    <div class="mz-container js-vci">
        <h1 class="mz-title mb-2">{{ page.title }}</h1>

        <p class="mb-4 f-blue lh-copy">
            Heb je een nieuwe NS-Business Card, maar nog geen toegang? Vul je e&#8209;mailadres in en ontvang een
            link om je account te activeren.
        </p>

        <form action="{{ page.cta.url }}" id="mz-recovery-form">
            <div class="tk-formfield">
                <label for="email" class="is-hidden">E-mailadres</label>
                <div class="tk-input">
                    <input class="tk-input__text tk-input__text--no-border" type="email" id="email-recovery"
                        name="email" placeholder="E-mailadres" required />
                </div>
            </div>

            {% include mz/cta.html
                1st="Versturen"
                2nd="Terug naar overzicht"
                buttonClass="js-recovery-submit"
                url=cta-url
            %}
        </form>

        <div class="bo-b-a15 mb-2"></div>
        <div class="f14 lh-copy f-blue">
            Contactpersoon binnen uw bedrijf? Neem contact op met Klantenservice NS Zakelijk via 030-3001111 (dag en nacht bereikbaar).
        </div>

        {% include mz/footer.html %}

    </div>
</section>