---
no-footer: true
---

<section class="mz gd-r-yellow-subtle">
    <div class="mz-container">
        <h1 class="mz-title">Hoe wil je inloggen op Mijn NS zakelijk?</h1>

        <div class="mb-3">
            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-kaarthouder'
            icon='business-card--large'
            title='Kaarthouder'
            description='Laatste reizen, deur-tot-deur diensten, geld terug bij vertraging en meer.'
            %}

            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-contactpersoon'
            icon='invoice--large'
            title='Contactpersoon'
            description='Facturen en contracten, abonnementen, accounts beheren en meer.'
            %}
        </div>

        <a href="/mijnnszakelijk/aanmelden" class="unlink tk-link-blue">
            Ik heb geen account
        </a>
        
        {% include mz/footer.html %}

    </div>
</section>