---
---

<section class="mz gd-r-yellow">
    <div class="mz-container">

        <div class="mz-recovery-message is-hidden js-recovery-message">
            Indien je e&#8209;mailadres bij ons bekend is, hebben we een link om je account te activeren verstuurd naar
            <span class="fw-b">jan.janssen@ns.nl</span>.
        </div>

        <h1 class="mz-title">Hoe wil je inloggen op <span class="no-wrap">Mijn NS Zakelijk?</span></h1>

        <div class="mb-3">
            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-contactpersoon'
            icon='invoice--large'
            title='Contactpersoon'
            description='Facturen, overeenkomst, abonnementen, accounts beheren en meer.'
            %}

            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-kaarthouder'
            icon='business-card--large'
            title='Kaarthouder'
            description='Laatste reizen, deur-tot-deur diensten, geld terug bij vertraging en meer.'
            %}
        </div>

        <a href="/mijnnszakelijk/aanvragen" class="unlink tk-link-blue js-clear-session">
            Ik heb geen account
        </a>

        {% include mz/footer.html %}

    </div>
</section>