---
---

<section class="mz gd-r-yellow-subtle js-vce">
    <div class="mz-container js-vci">
        <h1 class="mz-title">Hoe wil je inloggen op <span class="no-wrap">Mijn NS Zakelijk?</span></h1>

        <div class="mb-3">
            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-contactpersoon'
            icon='invoice--large'
            title='Contactpersoon'
            description='Facturen, overeenkomst, abonnementen, accounts beheren en meer.'
            %}

            {% include mz/tile.html
            url='/mijnnszakelijk/inloggen-kaarthouder'
            icon='business-card--large'
            title='Kaarthouder'
            description='Laatste reizen, deur-tot-deur diensten, geld terug bij vertraging en meer.'
            %}
        </div>

        <a href="/mijnnszakelijk/aanmelden" class="unlink tk-link-blue">
            Ik heb geen account
        </a>
        
        {% include mz/footer.html %}

    </div>
</section>