---
no-footer: true
---

<section class="mz gd-r-yellow-subtle">
    <div class="mz-container">
        <h1 class="mz-title">Inloggen als kaarthouder</h1>

        <form class="mb-4">
            <div class="tk-ff mxw-init js-ff-email">
                <label for="email" class="is-hidden">E-mailadres</label>
                <div class="tk-ff__input-container">
                    <input class="textInput tk-ff__input tk-ff__input--coloured" type="email" id="email" placeholder="E-mailadres" required />
                    <span class="tk-ff__icon tk-ff__icon--approved">
                        {% include /icons/check-fat--small.svg %}
                    </span>
                </div>
                <div class="tk-ff__error">
                    Vul een e-mailadres in
                </div>
            </div>

            <div class="tk-ff mxw-init js-ff-default">
                <label for="password" class="is-hidden">Wachtwoord</label>
                <div class="tk-ff__input-container">
                    <input class="textInput tk-ff__input tk-ff__input--coloured" type="password" id="password" placeholder="Wachtwoord" required />
                    <span class="tk-ff__icon tk-ff__icon--approved">
                        {% include /icons/check-fat--small.svg %}
                    </span>
                </div>
                <div class="tk-ff__error">
                    Vul een wachtwoord in
                </div>
            </div>

            <div class="txt-r">
                <button class="button" type="submit">Inloggen</button>
            </div>
        </form>


        <button class="button btn-ghost w-100">Inloggen als contactpersoon</button>


        {% include mz-footer.html %}

    </div>
</section>