---
layout: default
bg: bg-white
footer-light: true
title: NS-Business Card voor ZZP'ers
---

<section class="zzp-hero mb-6 mb-8-sm a a-fi" id="js-zzp-hero">
    <div class="full-absolute o-hidden hidden-xs hidden-sm">
        <!-- <video class="zzp-video js-video" preload="auto" poster="/assets/img/heros/hero-video.jpg" autoplay muted loop>
            <source src="/assets/img/heros/hero-zzp.mp4" type="video/mp4">
            </source>
        </video> -->
    </div>
    <div class="zzp-hero__gradient"></div>
    <figure class="zzp-hero__flow">{% include flows/flow-gradient-white.svg %}</figure>
    <div class="container container--narrow">
        <header class="mxw-700">
            <h1 class="mb-4">
                <div class="f24 f32-sm fw-normal f-white ts-2 lh-title mb-2 ls-3 a a-fi-right-200px a-stag a-del-350">
                    {{ site.data.zzp.title }}
                </div>
                <div class="f32 f48-sm f60-md lh-title f-white ts-2 a a-fi-right-200px a-stag a-del-350">
                    {{ site.data.zzp.payoff }}
                </div>
            </h1>
            <div class="a a-fi-right-200px a-del-500">
                <a href="/businesscard-bestellen" class="button button--nsYellow">{{ site.data.zzp.cta }}</a>
            </div>
        </header>
    </div>
</section>

<section class="mb-6 mb-12-sm a a-fi a-del-500">
    <div class="container container--narrow">
        <header class="txt-c mb-6 mb-8-sm mxw-950 mh-auto js-scroll-magic js-tr tr-fi-up tr-1500">
            <h2 class="f32 f40-sm fw-b f-blue lh-title mb-3">
                {{ site.data.zzp.usps.title }}
            </h2>
            <div class="zzp-divider js-tr tr-stag"></div>
        </header>
        <div class="f-grid f-grid--3">
            {% for entry in site.data.zzp.usps.list %}
            <div class="f-grid__unit">
                {% include zzp/usp.html %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="mb-2 mb-8-sm a a-fi a-del-750">
    <div class="container container--narrow">
        <figure class="zzp-bc bo-b js-scroll-magic js-tr tr-fi tr-800">
            <img class="zzp-bc__img js-tr tr-fi-up-si tr-1500" src="/assets/img/businesscard-3D.png" />
        </figure>
    </div>
</section>

<section class="a a-fi a-del-500">
    <div class="container container--narrow">
        <header class="mxw-750 mh-auto f-blue txt-c js-scroll-magic">
            <h2 class="f28 f48-sm fw-b lh-title mb-3 js-tr tr-stag">
                {{ site.data.zzp.services.title }}
            </h2>
            <p class="f18 f20-sm f-blue mb-2 mxw-600 mh-auto js-tr tr-stag">{{ site.data.zzp.services.description }}</p>
        </header>
        {% include zzp/service.html %}
    </div>
</section>