<header class="flx-subnav js-subnav a a-fi">
    <div class="container ovr-container">
        <div class="flx-subnav__content">
            <div>
                {% unless page.subnav.no-title %}<h3 class="flx-subnav__heading">NS Zakelijk</h3>{% endunless %}
            </div>
            <nav>
                <ul class="flx-subnav__items js-subnav-items">
                    <li class="flx-subnav__item a a-fi a-stag-del">
                        <a href="/" class="link-reset flx-subnav__link">Over NS Flex</a>
                    </li>
                    <li class="flx-subnav__item a a-fi a-stag-del">
                        <a href="/abonnementen.html" class="link-reset flx-subnav__link">Flexibele abonnementen</a>
                    </li>
                </ul>
                <span class="flx-subnav__icon visible-xs js-subnav-toggle" include="../assets/img/icons/chevron-M-down--small.svg"></span>
                <span class="flx-subnav__btn button--nsYellow">Bestel</span>
            </nav>
        </div>
    </div>
</header>