<header class="subnav js-subnav a a-fi">
    <div class="container container--narrow">
        <div class="subnav__content">
            <a href="/zakelijk" class="unlink">
                <h3 class="subnav__heading">NS Zakelijk</h3>
            </a>
            <nav class="subnav__nav">
                <ul class="subnav__items js-subnav-items">
                    <li class="subnav__item a a-fi a-stag-del">
                        <a href="/zzp" class="unlink subnav__link 
                        {% if page.url=='/zzp/'%}is-active{% endif %}">
                            ZZP
                        </a>
                    </li>
                    <li class="subnav__item a a-fi a-stag-del">
                        <a href="/mkb" class="unlink subnav__link 
                        {% if page.url=='/mkb/'%}is-active{% endif %}">
                            MKB
                        </a>
                    </li>
                    <li class="subnav__item a a-fi a-stag-del">
                        <a href="/corporate" class="unlink subnav__link 
                        {% if page.url=='/corporate/'%}is-active{% endif %}">
                            Corporate
                        </a>
                    </li>
                    <li class="subnav__item a a-fi a-stag-del">
                        <a href="/bestaande-klant" class="unlink subnav__link 
                        {% if page.url=='/bestaande-klant/'%}is-active{% endif %}">
                            Bestaande klant
                        </a>
                    </li>
                </ul>
                <span class="subnav__icon visible-xs js-subnav-toggle a a-fi a-stag-del">
                    {% include icons/chevron-m-down--small.svg %}
                </span>
                {% unless page.subnav.portal %}
                <span class="subnav__btn button--brand a a-fi a-stag-del">Bestel</span>
                {% endunless %}
            </nav>
        </div>
    </div>
</header>