// hero
// ---------------------------------
.abo-hero {
    position: relative;
    margin-bottom: $gutter;
    padding: $gutter 0;

    @extend .gd-r-pale-blue;
    border-bottom: 1px solid rgba($ns-blue, 0.1);
    //background-color: $ns-white;

    @include sm {
        margin-bottom: $one-half-gutter;
        padding: $double-gutter 0;
    }

    @include md {
        &:before {
            content: '';
            @include full(absolute);
            background-image: url('/assets/img/illustration.svg');
            background-repeat: no-repeat;
            background-position: 60vw -23%;
        }
    }
}

// grid
// ---------------------------------
.abo-grid {
    display: grid;
    grid-gap: 21px;

    @include m {
        grid-gap: $gutter;
        grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
    }
}


// tile
// ---------------------------------
.abo-tile {
    display: block;
    position: relative;
    padding: 21px;
    cursor: pointer;
    transition: transform 400ms $ease-out;

    &:after {
        content: '';
        @include full(absolute);
        z-index: -1;
        background: $ns-white;
        box-shadow: 0 3px 6px rgba($ns-blue, 0.08);
        border-bottom: 2px solid rgba($ns-yellow, 0);
        border-radius: $border-radius;
        transform-origin: 50% 50%;
        transition: all 1.2s $ease-out;
    }

    &:hover {
        transform: scale(1.02);

        &:after {
            box-shadow: 0 4px 12px rgba($ns-blue, 0.25);
            border-color: rgba($ns-yellow, 1);
            transform: scale(1.03);
        }
    }
}

.abo-tile--hightlight {
    @include m-max {
        margin-top: 4px;
    }
}

.abo-tile__grid {
    display: flex;
    justify-content: space-between;
}

.abo-tile__details {
    margin: 0;
    list-style: none;

    li {
        margin: 0 0 4px;
        padding: 0;
        @include font(14px, normal, $lh-copy);
        color: $ns-grey-4;

        &:last-child {
            margin: 0;
        }
    }
}

.abo-tile__highlight {
    position: absolute;
    z-index: 1;
    top: -13px;
    right: 10px;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 100px;
    background-color: $ns-yellow;
    color: $ns-blue;
    font-size: toRem(14px);
}