/*-------------------
        Form
--------------------*/

$bs-focus: 0 0 0 1px $ns-light-blue, 0 2px 28px rgba($ns-black, 0.1);
$bs-autofill: 0 0 0px 1000px $ns-blue-4 inset;
$bs-autofill-focus: $bs-focus, $bs-autofill;

.tk-formfield {
    position: relative;
    margin-bottom: $half-gutter;
}

.tk-input {
    position: relative;
}

.tk-input__toggle-password {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;

    svg {
        fill: $ns-grey-5;
        transition: $fade-all;
    }

    &:hover {
        svg {
            fill: $ns-grey-4;
        }
    }

    span:last-child {
        display: none;
    }

    &.is-active {
        span:first-child {
            display: none;
        }
        span:last-child {
            display: block;
        }
    }
}

.tk-input__text {
    // lay-out
    width: 100%;
    padding: 10px 14px;
    height: $button-height;

    // styling
    -webkit-appearance: none;
    background-color: $ns-white;
    border: 1px solid $ns-grey-6b;
    @include font(18px, bold, 25px);
    color: $ns-blue;
    transition: $fade-link;

    &.is-error {
        border: 1px solid $ns-red-alert;
    }

    &::placeholder {
        opacity: 1;
        @include font(16px, normal, 25px);
        color: $ns-grey-6;
    }

    &:focus {
        outline: none;
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
        color: $ns-blue;
    }

    &:-webkit-autofill {
        box-shadow: $bs-autofill;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }
}

.tk-input__text--no-border {
    border: 1px solid $ns-white;

    &:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
        color: $ns-blue;
    }

    &:-webkit-autofill {
        border: 1px solid $ns-blue-4;
        box-shadow: $bs-autofill;
        -webkit-text-fill-color: $ns-blue;
    }

    &:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }
}

.no-touch {
    .tk-input__text:hover {
        border: 1px solid $ns-grey-5;
    }

    .tk-input__text:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-focus;
    }

    .tk-input__text:-webkit-autofill:focus {
        box-shadow: $bs-autofill-focus;
    }

    .tk-input__text--no-border:hover {
        border: 1px solid $ns-white;

        &.is-error {
            border: 1px solid $ns-red-alert;
        }

        &.is-error:focus {
            border: 1px solid $ns-light-blue;
        }
    }

    .tk-input__text--no-border:hover:focus {
        border: 1px solid $ns-light-blue;
    }

    .tk-input__text--no-border:-webkit-autofill:hover {
        border: 1px solid $ns-blue-4;
        box-shadow: $bs-autofill;
    }

    .tk-input__text--no-border:-webkit-autofill:hover:focus {
        border: 1px solid $ns-light-blue;
        box-shadow: $bs-autofill-focus;
    }
}


// hide up and down arrows
// ----------------------------------------
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

// hide autofill safari icon in input field
// ----------------------------------------
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}