.subnav {
    position: absolute;
    z-index: 500;
    top: $navbar-height;
    width: 100vw;
    height: $navbar-height;
    background-color: $ns-white;
    box-shadow: $box-shadow-container;
    transition: height 300ms $ease;

    &.is-sticky {
        position: fixed;
        top: 0;
    }

    &.is-active {
        height: 230px;
    }
}

.subnav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav__heading {
    @include font(16px, bold, 1.2);
    color: $ns-blue;

    @include md {
        font-size: toRem(20px);
    }
}

.subnav__nav {
    display: flex;
    height: $navbar-height;
    align-items: center;
}

.subnav__items {
    display: none;
    position: absolute;
    top: 70px;
    left: $half-gutter;
    margin: 0;
    padding: 0;
    list-style: none;

    &.is-active {
        display: block;
    }

    @include sm {
        position: static;
        display: inline-block;
    }
}

.subnav__item {
    position: relative;
    top: -1px;
    margin: 0 0 $half-gutter;
    padding: 0;

    @include sm {
        display: inline-block;
        margin: 0 20px 0 0;
    }
}

.subnav__link {
    position: relative;
    @include font(14px, normal, 1.25);
    color: $ns-blue;
    transition: $fade-link;
    cursor: pointer;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 2px;
        background-color: $ns-blue;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: $fade-all;
    }

    &:hover:after {
        transform: scaleX(1);
    }

    &.is-active {
        font-weight: bold;

        &:after {
            transform: scaleX(1);
        }
    }
}

.subnav__btn {
    font-size: toRem(14px);
    transition: $fade-link;
    padding: 8px 18px 9px;
    border-radius: 4px;
    cursor: pointer;
}

.subnav__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;

    svg {
        fill: $ns-blue;
    }

    &.is-active {
        transform: rotate(180deg);
    }
}