.container--narrow {
    padding: 0 14px;

    @include sm {
        padding: 0 2rem;
    }
}

.center {
    @include center(flex);
}

.f-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$half-gutter;
}

.f-grid--center {
    align-items: center;
}

.f-grid__unit {
    flex: 1 100%;
    padding: $half-gutter;
}

.f-grid__unit--m {
    @include m {
        flex: 1;
    }
}