.container--narrow {
    padding: 0 14px;

    @include sm {
        padding: 0 2rem;
    }
}

.center {
    @include center(flex);
}

.f-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$half-gutter;
}

.f-grid--3 {
    display: flex;
    flex-wrap: wrap;

    .f-grid__unit {
        @include m {
            flex: 3;
        }
    }
}

.f-grid__unit {
    flex: 1 100%;
    padding: $half-gutter;
}