.portal-entry {
    display: grid;
    grid-column-gap: $gutter;

    @include sm {
        grid-row-gap: $one-half-gutter;
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

// ----------------------------------------------------------
// ----------------------------------------------------------
.portal-tile {
    position: relative;
    padding: 21px 0;
    border-bottom: 1px solid $ns-grey-7;
    transition: $fade-all;

    &:first-child {
        border-top: 1px solid $ns-grey-7;
    }

    @include sm {
        padding: 0;
        border: none;

        &:first-child {
            border: none;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: -$half-gutter;
        left: -$half-gutter;
        width: calc(100% + 28px);
        height: calc(100% + 28px);
        border-radius: $border-radius * 3;
        z-index: -1;
        background-color: $ns-white;
        box-shadow: $box-shadow-soft-tile;
        opacity: 0;
        transition: $fade-all;
    }
}

.no-touch {
    .portal-tile:hover {
        &:before {
            @include sm {
                opacity: 1;
            }
        }

        .portal-tile__heading:after {
            transform: scaleX(1);
        }

        .portal-tile__icon {
            transform: translateX(5px);
        }
    }
}

.portal-tile__img {
    border-radius: $border-radius * 2;
    margin-bottom: $half-gutter;
}

.portal-tile__heading {
    position: relative;
    color: $ns-light-blue;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 2px;
        left: 0;
        background-color: $ns-light-blue;
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: $fade-link;
    }
}

.portal-tile__icon {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 2px;
    transform-origin: 0 0;
    transition: $fade-link;

    svg {
        fill: $ns-light-blue;
    }
}


// ----------------------------------------------------------
// ----------------------------------------------------------
.portal-bc {
    display: grid;
    align-items: center;

    @include md {
        grid-template-columns: 2fr 3fr;
        grid-gap: 70px;
    }
}

.portal-bc__img-container {
    position: relative;
    top: -30px;
    overflow: hidden;
    border-bottom: 1px solid $ns-grey-7;

    @include sm {
        top: -60px;
    }

    @include md {
        top: 0;
        border: none;
    }
}

.portal-bc__img {
    display: block;
    position: relative;
    bottom: -30px;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    @include sm {
        bottom: -60px;
    }

    @include md {
        width: 100%;
        bottom: 0;
    }
}