// ZZP Campagne
// --------------------------------------
// --------------------------------------

// hero
// --------------------------------------
.zzp-hero {
    position: relative;
    min-height: 340px;
    padding: $gutter 0;
    @include bg(cover);
    background-image: url('/assets/img/heros/hero-video.jpg');

    @include sm {
        padding: $double-gutter 0;
        min-height: 480px;
    }
}

.zzp-hero__gradient {
    @include full(absolute);
    background: linear-gradient(80deg, rgba($ns-black, 1) 20%, rgba($ns-black, 0.5) 100%);
    opacity: 0.35;

    @include sm {
        background: linear-gradient(164deg, rgba($ns-black, 1) 20%, rgba($ns-black, 0) 90%);
    }
}

.zzp-hero__flow {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;

    @include md {
        left: calc(50% - 427px);
    }

    @media (min-width: 860px) {
        width: auto;
        height: 100%;
    }

    svg {
        width: 100%;
        transform: rotate(180deg);

        @media (min-width: 860px) {
            width: auto;
            height: 100%;
        }
    }
}


// usp
// --------------------------------------
.zzp-usp {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: 0 auto $gutter;

    @include m {
        margin: 0 auto;
    }
}

.zzp-usp__img {
    @include center(flex);
    height: 97px;
    margin-bottom: $half-gutter;

    @include m {
        margin-bottom: $gutter;
    }
}


// business card image
// --------------------------------------
.zzp-bc {
    position: relative;
    top: -30px;
    overflow: hidden;

    @include sm {
        top: -70px;
    }
}

.zzp-bc__img {
    position: relative;
    bottom: -30px;
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    @include sm {
        width: 100%;
        bottom: -70px;
    }
}


// service
// --------------------------------------
.zzp-service {
    position: relative;
    top: -132px;
}

.zzp-service__map {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    z-index: -1;

    svg {
        fill: #EBF6FF;
    }

    @include md {
        left: -50px;
    }
}

.zzp-service__container {
    position: relative;
    width: 600px;
    height: 400px;
}

.zzp-service__tile {
    display: inline-block;
    position: absolute;
    max-width: 250px;
    background-color: $ns-white;
    box-shadow: 0 5px 20px rgba($ns-blue, 0.18);
    border-radius: 8px;
    overflow: hidden;
    transition: $fade-all;

    &:hover  {
        box-shadow: 0 8px 30px rgba($ns-blue, 0.3);

        .zzp-service__tile-header {
            color: $ns-blue;

            svg {
                fill: $ns-blue;
            }
        }
    }

    &:nth-child(1) {
        top: 20px;
        left: 40px;
    }

    &:nth-child(2) {
        top: 90px;
        left: 240px;
    }
}

.zzp-service__tile-header {
    padding: $half-gutter;
    display: flex;
    justify-content: space-between;
    color: $ns-light-blue;
    @include font(16px, bold, $lh-solid);
    font-style: italic;
    transition: $fade-all;
    cursor: pointer;

    svg {
        fill: $ns-light-blue;
        transition: $fade-all;
    }

    &.is-active {
        color: $ns-blue;

        svg {
            fill: $ns-blue;
        }
    }
}

.zzp-service__tile-icon {
    margin-left: $half-gutter;
    margin-right: 2px;
}


// misc
// --------------------------------------
.zzp-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zzp-divider {
    margin: 0 auto;
    border-bottom: 1px solid $ns-blue;
    width: 180px;

    @include sm {
        width: 240px;
    }
}