// ZZP Campagne
// --------------------------------------
// --------------------------------------

// headings
// --------------------------------------
.zzp-heading {
    @include font(28px, bold, $lh-title);
    letter-spacing: toRem(-0.5px);
    color: $ns-blue;

    @include sm {
        font-size: toRem(38px);
    }

    @include md {
        font-size: toRem(48px);
    }
}

.zzp-description {
    @include font(18px, normal, $lh-copy);
    color: $ns-blue;

    @include sm {
        font-size: toRem(20px);
    }
}


// hero
// --------------------------------------
.zzp-hero {
    position: relative;
    min-height: 340px;
    padding: $gutter 0;
    @include bg(cover);
    background-image: url('/assets/img/heros/hero-video.jpg');

    @include sm {
        padding: $double-gutter 0;
        min-height: 480px;
    }
}

.zzp-hero__gradient {
    @include full(absolute);
    background: linear-gradient(80deg, rgba($ns-black, 1) 20%, rgba($ns-black, 0.5) 100%);
    opacity: 0.35;

    @include sm {
        background: linear-gradient(164deg, rgba($ns-black, 1) 20%, rgba($ns-black, 0) 90%);
    }
}

.zzp-hero__flow {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 100%;

    @include md {
        left: calc(50% - 427px);
    }

    @media (min-width: 860px) {
        width: auto;
        height: 100%;
    }

    svg {
        width: 100%;
        transform: rotate(180deg);

        @media (min-width: 860px) {
            width: auto;
            height: 100%;
        }
    }
}

.zzp-hero__title {
    @include font(36px, bold, $lh-title);
    letter-spacing: toRem(-0.8px);
    color: $ns-white;
    text-shadow: $text-shadow-2;

    @include sm {
        font-size: toRem(48px);
    }

    @include md {
        font-size: toRem(60px);
    } 
}

.zzp-hero__subtitle {
    @include font(24px, normal, $lh-title);
    letter-spacing: toRem(-0.3px);
    color: $ns-white;
    text-shadow: $text-shadow-2;

    @include sm {
        font-size: toRem(32px);
    } 
}


// usp
// --------------------------------------
.zzp-usp {
    position: relative;
    text-align: center;
    max-width: 400px;
    margin: 0 auto $gutter;

    @include m {
        margin: 0 auto;
    }
}

.zzp-usp__img {
    @include center(flex);
    height: 97px;
    margin-bottom: $half-gutter;

    @include m {
        margin-bottom: $gutter;
    }
}


// business card image
// --------------------------------------
.zzp-bc {
    position: relative;
    top: -30px;
    overflow: hidden;

    @include sm {
        top: -70px;
    }
}

.zzp-bc__img {
    position: relative;
    bottom: -30px;
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    @include sm {
        width: 100%;
        bottom: -70px;
    }
}


// service
// --------------------------------------
.zzp-service {
    position: relative;
}

.zzp-service__map-container {
    @include full(absolute);
    @include center(flex);
    overflow: hidden;
    margin-top: 140px;
    padding: 0 21px;

    @include md {
        left: -50px;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba($ns-white, 0) 0%, rgba($ns-white, 1) 100%);
    }
}

.zzp-service__map {
    @include full(relative);
    max-width: 620px;

    svg {
        fill: #EBF6FF;
    }
}

.zzp-service__tile-container {
    @include center(flex);
    height: 280px;
}

.zzp-service__tile {
    max-width: 360px;
    background-color: $ns-white;
    box-shadow: 0 5px 20px rgba($ns-blue, 0.18);
    border-radius: 8px;
    overflow: hidden;
}

.zzp-service__nav-item-container {
    margin-right: $gutter;

    &:last-child {
        margin: 0;
    }
}

.zzp-service__nav {
    display: inline-flex;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 -1px 0 $ns-grey-6b;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.zzp-service__nav-item {
    position: relative;
    color: $ns-grey-4;
    transition: $fade-all;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 100%;
        border-bottom: 1px solid $ns-blue;
        transition: $fade-all;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: 0 0;
    }

    &:hover,
    &.is-active {
        color: $ns-blue;

        &:before {
            opacity: 1;
            transform: scaleX(1);
        }
    }
}


// agility
// --------------------------------------
.zzp-agility {
    margin-bottom: 42px;

    @include m {
        &:nth-child(even) {
            .zzp-agility__img-container {
                order: 999;
            }

            .zzp-agility__text {
                text-align: right;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.zzp-agility__img-container {
    @include center(flex);
    padding: 0 $half-gutter;

    @include lg {
        padding: 0;
    }
}

.zzp-agility__img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;

    @include m {
        max-width: 350px;
    }
}



// misc
// --------------------------------------
.zzp-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zzp-divider {
    margin: 0 auto;
    border-bottom: 1px solid $ns-blue;
    width: 180px;

    @include sm {
        width: 240px;
    }
}