// Uitgestelde betaling
// --------------------------------------
// --------------------------------------

.ub__container {
    margin: $gutter auto;
    padding: 21px;
    max-width: 772px;
    background-color: $ns-white;
    box-shadow: $box-shadow-container;

    @include sm {
        padding: 2rem;
    }
}

.ub__select {
    position: relative;
    padding-right: $gutter;
    width: 100%;

    @include xs {
        width: auto;
        min-width: 300px;
    }
}