<a href="{{ entry.url }}" 
   class="unlink abo-tile {{ entry.modifier }} {% if entry.highlight %}abo-tile--hightlight{% endif %} a a-fi a-stag"
   style="{{ entry.style }}">

    {% if entry.highlight %}
    <div class="abo-tile__highlight">
        {{ entry.highlight }}
    </div>
    {% endif %}
    <div class="pos-r {% unless entry.price-message %}abo-tile__grid{% endunless %}">
        <div>
            <div class="abo-tile__grid">
                <h2 class="abo-tile__heading mb-1">{{ entry.title }}</h2>
                {% if entry.price-message %}
                <p class="f14 f-blue txt-r ml-2">{{ entry.price-message }}</p>
                {% endif %}
            </div>
            <ul class="abo-tile__details">
                {% for detail in entry.details %}
                <li>{{ detail }}</li>
                {% endfor %}
            </ul>
        </div>
        {% unless entry.price-message %}
        <div class="txt-r no-wrap ml-2">
            <h3 class="abo-tile__heading">€ {{ entry.price }}</h3>
            <p class="f14 f-blue">/ {{ entry.period }}</p>
        </div>
        {% endunless %}
    </div>
</a>