---
layout: default
bg: bg-white
title: NS Zakelijk
---

<section class="pv-4 pv-8-sm pv-12-md a a-fi">
    <div class="container container--narrow">
        <h1 class="h-xxxl">{{ page.title }}</h1>
    </div>
</section>

<section class="pb-8 pb-16-md">
    <div class="container container--narrow">
        <div class="portal-entry">
            {% for entry in site.data.portal.tiles %}
            <a href="{{ entry.url }}" class="unlink portal-tile a a-fi a-stag a-del-200">
                <img src="/assets/img/portal/{{ entry.img }}" class="portal-tile__img hidden-xs" />
                <div class="g g-1-m gap-2 items-center">
                    <h2 class="h-xxs ls-heading">
                        <span class="portal-tile__heading">{{ entry.title }}</span>
                        <span class="portal-tile__icon">{% include icons/chevron-m--small.svg %}</span>
                    </h2>
                    <div class="g g-m-m gap-1 items-center">
                        <span class="svg-light-blue">{% include icons/user--small.svg %}</span>
                        <p class="f14 f-light-blue">{{ entry.people }}</p>
                    </div>
                </div>
                <p class="txt-body f-grey-4 mt-1 mt-2-sm">{{ entry.description }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<section class="pb-4 pb-8-sm pb-12-md a a-fi a-del-400">
    <div class="container container--narrow">
        <div class="portal-bc">
            <figure class="portal-bc__img-container">
                <img src="/assets/img/businesscard-3D.png" class="portal-bc__img" />
            </figure>
            <div>
                <h2 class="h-s mb-2">NS&#8209;Business Card</h2>
                <h3 class="h-xxxs h--normal mb-2">
                    Onbezorgd zakelijk reizen met dé mobiliteitskaart voor ondernemers.
                </h3>
                <p class="txt-body f-grey-4 mb-4">
                    Zo reist u comfortabel met het gehele openbaar vervoer.
                    De ene dag werkt u op kantoor. De andere dag reist u van afspraak
                    naar afspraak. Bepaal met de NS&#8209;Business Card per dag flexibel hoe u reist.
                </p>
                <a class="button button--brand" tabindex="-1">Bekijk meer</a>
            </div>
        </div>
    </div>
</section>

<section class="pb-4 pb-8-sm pb-12-md a a-fi a-del-500">
    <div class="container container--narrow">
        <hr>
    </div>
</section>

<section class="pb-4 pb-8-sm pb-12-md a a-fi a-del-600">
    <div class="container container--narrow">
        <div class="g g-2-sm col-gap-4 row-gap-8">
            <div>
                <h2 class="h-xxs mb-2">Bestaande zakelijke klant</h2>
                <p class="txt-body f-grey-4 mb-4">
                    Alle informtie voor het reizen met de NS&#8209;Business Card in één overzicht.
                </p>
                <a class="button button--secondary" tabindex="-1">Bekijk meer</a>
            </div>
            <div>
                <h2 class="h-xxs mb-2">Direct naar Mijn NS Zakelijk</h2>
                <p class="txt-body f-grey-4 mb-4">
                    Bekijk uw reizen, voeg kenmerken toe en vraag deur-tot-deurdiensten aan. Alles voor uw
                    administratie.
                </p>
                <a class="button button--secondary" tabindex="-1">Bekijk meer</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="pb-4 pb-8-sm pb-12-md a a-fi a-del-700">
    <div class="container container--narrow">
        <hr>
    </div>
</section>

<section class="mb-6 mb-12-sm a a-fi a-del-800">
    <div class="container container--narrow">
        <div class="mxw-800">
            <h2 class="h-xxs mb-4">
                Veelgestelde vragen
            </h2>
            {% for entry in site.data.zzp.faq.collapsible %}
            {% include collapsible.html %}
            {% endfor %}
        </div>
    </div>
</section>