---
layout: default
bg: bg-grey-8
title: NS-Business Card aanvragen
---

<section class="abo-hero a a-fi">
    <div class="container container--narrow">

        <h1 class="tk-heading f-white">NS-Business Card bestellen</h1>
        <ul class="f-white">
            <li>1 kaart voor het zakelijk openbaar vervoer</li>
            <li>Achteraf betalen voor gemaakte reizen via 1 factuur</li>
            <li>Toegang tot alle deur-tot-deur diensten</li>
        </ul>
        <button class="button button--buy">Bestel direct</button>

    </div>
</section>

<section class="pb-4 pb-8-sm">
    <div class="container container--narrow">
        <p class="f-grey-4 f14 mb-6">Alle genoemde prijzen zijn excl. BTW</p>
        <h2 class="f24 f32-sm f-blue fw-normal mb-2 ls-normal">Bestel met abonnement</h2>
        <div class="abo-grid mb-6 mb-8-sm">
            {% for entry in site.data.abos limit:2 %}
            {% include ba/abo-tile.html %}
            {% endfor %}
        </div>
        <h2 class="f24 f32-sm f-blue fw-normal mb-2 ls-normal">Voor frequente reizigers</h2>
        <div class="abo-grid">
            {% for entry in site.data.abos offset:2 %}
            {% include ba/abo-tile.html %}
            {% endfor %}
        </div>
    </div>
</section>