---
layout: default
---

{% capture error %} {{ page.error }} {% endcapture %}

<section class="mz gd-r-yellow js-vce">
    <div class="mz-container js-vci">

        <div class="mz-recovery-message is-hidden js-recovery-message">
            We hebben een e&#8209;mail gestuurd naar <span class="fw-b">jan.janssen@ns.nl</span> met je gebruikersnaam
            en een link om een nieuw wachtwoord aan te maken.
        </div>

        <h1 class="mz-title">{{ page.title }}</h1>

        {% include mz/error.html text=error %}

        {% include mz/login-form.html %}
        {{ content }}
        {% include mz/footer.html %}

    </div>
</section>