---
layout: default
---

<section class="mz gd-r-yellow-subtle">
    <div class="mz-container">
        <h1 class="mz-title">{{ page.title }}</h1>

        <div class="is-hidden f14 lh-copy f-red mb-4 js-form-error">
            <p class="fw-b">Oeps! De combinatie van het e-mailadres en wachtwoord is onjuist. Probeer het nog eens.</p>
        </div>

        {% include mz/login-form.html %}
        {% include mz/cta.html %}

        {{ content }}        
        {% include mz/footer.html %}

    </div>
</section>