---
layout: default
---

{% capture cta-text %} {{ page.cta.text }} {% endcapture %}
{% capture cta-url %} {{ page.cta.url }} {% endcapture %}

<section class="mz gd-r-yellow-subtle js-vce">
    <div class="mz-container js-vci">
        <h1 class="mz-title">{{ page.title }}</h1>

        <form action="{{ page.cta.url }}" id="mz-recovery-form">
            <div class="tk-formfield">
                <label for="email" class="is-hidden">E-mailadres</label>
                <div class="tk-input">
                    <input class="tk-input__text tk-input__text--no-border" type="email" id="email-recovery"
                        name="email" placeholder="E-mailadres" required />
                </div>
            </div>

            {% include mz/cta.html
                1st=cta-text 
                2nd="Terug naar inloggen"
                buttonClass="js-recovery-submit"
                url=cta-url
            %}
        </form>

        {% include mz/footer.html %}

    </div>
</section>